/* order-details.css */
.root {
    -fx-background-color: #f0f0f0;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: #d0d0d0;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: #f8f8f8;
}

.table-row-cell:selected {
    -fx-background-color: #4D3F76;
    -fx-text-background-color: white;
}

.button {
    -fx-background-color: #4D3F76;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #63558D;
}